
/* literal */

.canvas {
  position: relative;
}

.canvas:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* background-color: black; */
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('./assetss/bg_img3.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  /* background-blend-mode: darken; */
}

.play-btn{
  cursor: pointer;
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px 10px hsl(351, 100%, 70%);
  transition: .2s;
}

.play-btn:hover{
  text-shadow: 8px 8px 15px hsl(351, 69%, 46%);

}